h1 {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    padding-top: 15px;
}

.card {
    height: 196px;
    background: #FFFEFE;
    box-shadow: 30px 30px 30px rgba(0, 0, 0, 0.50);
    border-radius: 10px;
    margin-top: 10px;
}

.cardLabel {
    width: 100px;
    border-radius: 10px;
    margin: 2px;
    text-shadow: 1px 1px 2px black;
}

.cardEmergencia {
    background-color: red;
}

.cardMuitoUrgente {
    background-color: #F85E08;
}

.cardUrgente {
    background-color: #F8E008;
}

.cardPoucoUrgente {
    background-color: #04A330;
}


.cardNaoUrgente {
    background-color: #07C4FF;
}

h6 {
    font-weight: bold;
    text-align: center;
    color: #fff;
}

.totalPacientes {
    text-align: center;
    margin-top: 20px;
}

.divButtons{
    display: flex;
    margin-top: 10px;
    font-weight: bold;
}

h5 {
    font-weight: bold;
}

.btn {
    font-weight: bold;
    font-size: 20px;
    padding: 0px;
    width: 39px;
}