h1 {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    padding-top: 15px;
}

.card {
    height: 225px;
    background: #FFFEFE;
    box-shadow: 30px 30px 30px rgba(0, 0, 0, 0.50);
    border-radius: 10px;
    margin-top: 10px;
}

.cardLabel {
    border-radius: 10px;
    margin: 2px;
    text-shadow: 1px 1px 2px black;
    padding: 10px;
}

.cardEmergencia {
    background-color: red;
    height: 45px;
width: 185px;

}

.cardMuitoUrgente {
    height: 45px;
width: 185px;
    background-color: #F85E08;
}

.cardUrgente {
    height: 45px;
width: 185px;
    background-color: #F8E008;
}

.cardPoucoUrgente {
    height: 45px;
width: 185px;
    background-color: #04A330;
}


.cardNaoUrgente {
    height: 45px;
width: 185px;
    background-color: #07C4FF;
}

h6 {
    font-weight: bold;
    text-align: center;
    color: #fff;
}

.totalPacientes {
    text-align: center;
    margin-top: 20px;
    align-items: center;
    display: flex;
    justify-content: center;
    margin-top: 25px;
}

.divButtons{
    display: flex;
    margin-top: 10px;
    font-weight: bold;
}

h5 {
    font-weight: bold;
    padding: 0 15px;
}

.btn {
    font-weight: bold;
    font-size: 20px;
    padding: 0px;
    width: 39px;
}

.cardTipoDePuleiras{
    display: flex;
    justify-content: center;
}

.linhaBotao{
    display: flex;
    justify-content: space-around;
}

.botaoIncrementDecrementar{
    display: flex;
    width: 135px;
    flex: 1;
    justify-content: center;
}